<a href="https://colab.research.google.com/github/tiquioani/CCINCOML_EXERCISES_COM23P/blob/main/Tiquio_exercise6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 6

## Lists

1. Create a list

- The name of the new list should be  `month`

- The list should contain all the months in a year (January, February, March, April, May, June, July, August, September, October, November, December)

In [1]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

print(months)

['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

2. Display an element

- Display the fourth element 'April' in the `month` list

In [2]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

print(months[3])

April

3. Slice the list

- Use slicing to get the last 4 months of the year of (September, October, November, December) of the `month` list

In [3]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

print(months[-4:])

['September', 'October', 'November', 'December']

- Use slicing to get the first 4 months of the year (January, February, March, April) of the `month` list

In [4]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

print(months[0:4])

['January', 'February', 'March', 'April']

4. List Methods

- Get the size of the month list using the `len()` method

In [5]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

print(len(months))

12

- Get the element with the largest value of the month list using `max()`

In [6]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

print(max(months))

September

- Get the element with the smallest value of the month list using `min()`

In [7]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

print(min(months))

April

- Sort the months of the year by alphabetical order using the `sorted()` function

In [8]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

print(sorted(months))

['April', 'August', 'December', 'February', 'January', 'July', 'June', 'March', 'May', 'November', 'October', 'September']

## Tuple

1. Create a tuple with only three elements, the elements are:

- Your month of birth in integers
- Your day of birth in integers
- Your year of birth in integers

Use tuple unpacking to directly assign the month, day, year variable to each elements in your tuple.

In [9]:
birthday = (9, 4, 2003)
print("My birth month is: ", birthday[0])
print("My birth day is: ", birthday[1])
print("My birth year is: ", birthday[2])

My birth month is:  9
My birth day is:  4
My birth year is:  2003

## Set

1. The list below contains a number of a products of a computer store. Notice that there are duplicate values.

In [ ]:
products = {"laptop", "smartphone", "tablet", "mouse" ,"powerbank", "headphones", "laptop", "speakers", "printer", "monitor", "projector", "mouse", "keyboard"}

The difference between a list and a set is that a list allows duplicate values. One way to remove duplicates is to convert a list into a set.

Convert the `products` list into a set

In [10]:
products = {"laptop", "smartphone", "tablet", "mouse" ,"powerbank", "headphones", "laptop",
"speakers", "printer", "monitor", "projector", "mouse", "keyboard"}
unique_prods = set(products)
print(unique_prods)

{'keyboard', 'mouse', 'laptop', 'projector', 'powerbank', 'tablet', 'smartphone', 'printer', 'headphones', 'monitor', 'speakers'}

2. Verify if "headphones" exists in the `products` set  using the `in` operator

In [14]:
'headphones' in ['laptop', 'smartphone', 'tablet', 'mouse', 'powerbank', 'headphones', 'laptop', 'speakers',
'printer', 'monitor', 'projector', 'mouse', 'keyboard']

True

## Dictionaries

1. Create a dictionary of your favorites

- Keys should be the type
- Values should be the sample from that type

Example:

food: friedchicken

color: blue

sport: badminton

drink: mangojuice

dessert: cheesetart

In [15]:
my_favorites = {"food:": "chocolate", "color:": "green", "sport:": "volleyball", "drink:":
"mango juice and coffee", "dessert:": "icecream"}
print(my_favorites)

{'food:': 'chocolate', 'color:': 'green', 'sport:': 'volleyball', 'drink:': 'mango juice and coffee', 'dessert:': 'icecream'}

## Loops

1. Write a for loop to iterate all elements of the `month` list. Print each element for every iteration.

In [17]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

for month in months:
    print(month)

January
February
March
April
May
June
July
August
September
October
November
December

2. Write a for loop and add a condition to only display the elements in the `month` list that ends with "ber"

TypeError: 'list' object is not callable

In [39]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

for i in months:
    if i.find('ber') > 0:
     print(i)

September
October
November
December

3. Write a for loop and add a condition to only display the elements in the `month` list that does not end with "ber"

In [45]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

for i in months:
    if i.find('ber') < 0:
     print(i)

January
February
March
April
May
June
July
August

4. Write a for loop and use `range()` to display your firstname five times

In [24]:
for i in range(5):
    print("Anilov")

Anilov
Anilov
Anilov
Anilov
Anilov

5. Write a for loop that iterates over the names list to create a usernames list.

To create a username for each name, make everything lowercase and replace spaces with underscores. Running your for loop over the list:

Example:

names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]

should create a new list

usernames = ["joey_tribbiani", "monica_geller", "chandler_bing", "phoebe_buffay"]

In [48]:
names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]
username = []
for name in names:
   username.append(name.lower().replace(" ", "_"))
print(username)

['joey_tribbiani', 'monica_geller', 'chandler_bing', 'phoebe_buffay']

6. Write a while loop to iterate throught the month list.
Break the loop if the element ends with "ber"

In [54]:
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

counter = 0
while counter < len(months):
    print(months[counter])
    counter = counter + 1
    if months[counter].find('ber') > 0:
        break

January
February
March
April
May
June
July
August

## Functions

Write a while loop to iterate throught the month list
Break the loop if the element ends with "ber"

1. Write a python function named population_density that takes two arguments, population and land_area, and returns a population density calculated from those values.

The population density can be calculated using this formula:

population_density = population/land_area

In [59]:
def population_density(population, land_area):
  return population/land_area

In [60]:
population_density(1000, 500)

2.0

2. Write an `averagesteps()` function to compute the average the number of steps you take every day.

- The function should accept a list and compute the average of all elements inside the list

- Create a list with seven elements. The values in the list are your average steps your take everyday.

- Pass the list to the function and call the function

In [62]:
mysteps = [1000, 900, 800, 700, 600, 500, 400]

In [61]:
def averagesteps(stepslist):
  sum = 0
  for i in stepslist:
    sum = sum + i
    average = sum / 7
    return average

In [63]:
averagesteps(mysteps)

142.85714285714286